{% extends 'rebs/layouts/base.html' %}

{% load static widget_tweaks humanize %}

{% block title %}Rebs - 고객 고지 관리{% endblock %}

{% block content %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        {% include 'rebs/partials/content_title.html' with  second_bs="고객 고지 관리" title="수납 고지서 발행" %}
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        {% with menu_order='1' %}
                            {% include 'notice/partials/head_menu.html' %}
                        {% endwith %}

                        <form class="form-horizontal p-0 col-12" name="form1" method="get">
                            <div class="row">
                                {% include 'rebs/partials/project_select.html' %}
                                <div class="col-sm-12 col-md-6"></div>
                            </div>
                        </form>

                        {% include 'notice/partials/bill_issue_form.html' %}
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body pb-1">

                        <div class="row mb-3 bg-light">
                            {% include 'notice/partials/contractor_search_form.html' %}
                        </div>
                        <div class="row">
                            {% include 'notice/partials/contractor_payment_list.html' %}
                        </div>

                        {% if is_paginated %}

                            {# to_first_last :: 맨처음 / 맨끝으로 버튼 사용 여부 #}
                            {# page_class ex:: pagination-rounded pagination-sm pagination-lg justify-content-center justify-content-end #}
                            {% include 'partials/pagination.html' with to_first_last="ok" page_class="pagination-rounded justify-content-end" %}

                        {% endif %}

                        <div class="row mt-2 mb-3 bg-dragula border-top border-bottom">
                            <div class="col-12 pt-2 pb-2 text-right">
                                {% if request.user.is_superuser or request.user.staffauth.notice > '1' %}
                                    <button type="button" class="btn btn-primary" onclick="print_bill()">선택 건별 고지서 다운로드하기</button>
                                {% else %}
                                    <button type="button" class="btn btn-outline-secondary"
                                            onclick="alert('수납 고지서 발행 권한이 없습니다. 관리자에게 문의하여 주십시요.')">조회권한 사용자</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->

{% endblock %}

{% block third_party_js %}
    <script>
      const q = document.getElementById('id_q')

      window.onload = function () {
        document.getElementById('id_published_date').value = '{{ today }}'
        document.getElementById('id_project_sel').setAttribute('onchange', 'submit()')
        q.value = '{{ request.GET.q }}'
        q.setAttribute('onclick', 'this.value=\'\'')
      }

      function checkAll(handle, obj) { // 계약 항목 전체 선택
        var i;
        var chk = document.getElementsByName(obj);
        var tot = chk.length;
        if (handle.checked === true) {
          for (i = 0; i < tot; i++) {
            if (chk[i].disabled == false) chk[i].checked = true;
          }
        } else {
          for (i = 0; i < tot; i++) {
            chk[i].checked = false;
          }
        }
      }

      function print_bill() { // 필요한 데이터 가공 후 고지서 출력 파일로 이동
        var i;
        var chk = document.getElementsByName('chk[]');
        var seq = '';
        var j = 0;
        for (i = 0; i < chk.length; i++) { // get에 전달할 변수세트(계약자아이디+분양가아이디)를 "-"로 연결하기
          if (chk[i].checked == true) {
            sepwd = j == 0 ? "" : "-";
            seq += sepwd + chk[i].value;
            j++;
          }
        }
        var bill_issue = ('{{ bill_issue }}' == 'None') ? false : true;
        if (!bill_issue) {
          alert('고지서 관련 기본 설정 데이터를 입력하여 주십시요.');
          document.bill_set.host_name.focus()
          return;
        } else if (seq === '') {
          alert('다운로드(출력)할 계약 건을 선택하여 주십시요.');
          return;
        } else /* if (confirm('선택하신 건별 고지서를 다운로드하시겠습니까?')) */ {
          var pDate = document.bill_set.published_date.value;
          var uri = "{% url 'rebs:pdf-bill' %}" + "?project=" + {{ this_project.id }} +"&date=" + pDate + "&seq=" + seq;
          location.href = uri;
        }
      }
    </script>

    <!-- iOS에서는 position:fixed 버그가 있음, 적용하는 사이트에 맞게 position:absolute 등을 이용하여 top,left값 조정 필요 -->
    <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer"
             style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()"
             alt="닫기 버튼">
    </div>

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="{% static 'common/js/daum_post_api.js' %}"></script>
{% endblock %}
