// multi-select
.dark-theme {
  --ms-bg: #474850 !important;
  --ms-dropdown-bg: #353641 !important;
  --ms-option-bg-pointed: #f3f4f6 !important;
  --ms-border-color: #D1D5DB;
  --ms-placeholder-color: #B5B6B9;
}

:root {
  // multi-select
  --ms-font-size: 0.875rem;
  --ms-line-height: 1.2;
  --ms-bg: #ffffff;
  --ms-bg-disabled: #f3f4f6;
  --ms-border-color: #D8DBE0; // #D1D5DB;
  --ms-border-width: 1px;
  --ms-radius: 6px;
  --ms-py: 0.48rem;
  --ms-px: 0.875rem;
  --ms-ring-width: 4px;
  --ms-ring-color: #ccc7f8; // #10B98130;
  --ms-placeholder-color: #6F7784;
  --ms-max-height: 10rem;

  --ms-spinner-color: #10b981;
  --ms-caret-color: #999999;
  --ms-clear-color: #999999;
  --ms-clear-color-hover: #000000;

  --ms-tag-font-size: 0.875rem;
  --ms-tag-line-height: 1.25rem;
  --ms-tag-font-weight: 600;
  --ms-tag-bg: #10b981;
  --ms-tag-bg-disabled: #9ca3af;
  --ms-tag-color: #ffffff;
  --ms-tag-color-disabled: #ffffff;
  --ms-tag-radius: 4px;
  --ms-tag-py: 0.125rem;
  --ms-tag-px: 0.5rem;
  --ms-tag-my: 0.25rem;
  --ms-tag-mx: 0.25rem;

  --ms-tag-remove-radius: 4px;
  --ms-tag-remove-py: 0.25rem;
  --ms-tag-remove-px: 0.25rem;
  --ms-tag-remove-my: 0rem;
  --ms-tag-remove-mx: 0.125rem;

  --ms-dropdown-bg: #ffffff;
  --ms-dropdown-border-color: #d1d5db;
  --ms-dropdown-border-width: 1px;
  --ms-dropdown-radius: 4px;

  --ms-option-font-size: 0.875rem;
  --ms-option-line-height: 1.375;
  --ms-option-bg-pointed: #ffffff;
  --ms-option-color-pointed: #1f2937;
  --ms-option-bg-selected: #10b981;
  --ms-option-color-selected: #ffffff;
  --ms-option-bg-disabled: #ffffff;
  --ms-option-color-disabled: #d1d5db;
  --ms-option-bg-selected-pointed: #26c08e;
  --ms-option-color-selected-pointed: #ffffff;
  --ms-option-bg-selected-disabled: #ffffff;
  --ms-option-color-selected-disabled: #d1fae5;
  --ms-option-py: 0.48rem;
  --ms-option-px: 0.75rem;
}
