<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'rebs:dashboard' %}">Home</a></li>
                    {% if second_bs %}
                        <li class="breadcrumb-item"><a href="javascript: void(0);">{{ second_bs }}</a></li>
                    {% endif %}
                    {% if third_bs %}
                        <li class="breadcrumb-item"><a href="javascript: void(0);">{{ third_bs }}</a></li>
                    {% endif %}
                    <li class="breadcrumb-item active">{{ title }}</li>
                </ol>
            </div>
            <h4 class="page-title">{{ title }}</h4>
        </div>
    </div>
</div>
<!-- end page title -->
