{% load static %}

<!-- LOGO -->
<a href="{% url 'rebs:dashboard' %}" class="logo text-center logo-light">
  <span class="logo-lg">
<!--    <h4 style="color: white;">바 램 디 앤 씨</h4>-->
    <img src="{% static 'rebs/images/logo.svg' %}" alt="" height="30">
  </span>
  <span class="logo-sm">
    <img src="{% static 'rebs/images/logo_sm.svg' %}" alt="" height="20">
  </span>
</a>

<!-- LOGO -->
<a href="index.html" class="logo text-center logo-dark">
  <span class="logo-lg">
    <img src="{% static 'rebs/images/logo-dark.svg' %}" alt="" height="30">
  </span>
  <span class="logo-sm">
    <img src="{% static 'rebs/images/logo_sm_dark.svg' %}" alt="" height="20">
  </span>
</a>
