apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nginx.fullname" . }}
  labels:
    {{- include "nginx.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      {{- include "nginx.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "nginx.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "nginx.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "nginx.fullname" . }}-config
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
            - name: https
              containerPort: 443
              protocol: TCP
          startupProbe:
            exec:
              command: [ "nginx", "-t" ]
            initialDelaySeconds: 10
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 10
            successThreshold: 1
          readinessProbe:
            exec:
              command: [ "nc", "-zv", "mariadb", "-3305" ]
            initialDelaySeconds: 20    # 컨테이너 시작 후 20초 후에 Probe 시작
            periodSeconds: 10          # 10초마다 상태 확인
            timeoutSeconds: 1          # 5초 후에 실패로 간주
            failureThreshold: 5        # 몇 번 실패해야 Pod를 Ready 상태가 아니라고 판단할 것인지
            successThreshold: 1        # 몇 번 성공해야 Ready 상태로 간주할 것인지
          livenessProbe:
            httpGet: # HttpGet 메소드로 점검
              {{ if and (gt (len .Values.ingress.hosts) 0) (.Values.livenessProbe.host) }}
              host: {{ .Values.livenessProbe.host }}
              scheme: {{ if gt (len .Values.ingress.tls) 0 }}HTTPS{{ else }}HTTP{{ end }}
              port: {{ if gt (len .Values.ingress.tls) 0 }}443{{ else }}80{{ end }}
              {{ else }}
              host: "localhost"
              port: {{ .Values.service.port }}
              {{ end }}
              path: /                   # 체크할 경로
            initialDelaySeconds: 30     # 최초 30초 후에 LivenessProbe 체크를 시작함
            periodSeconds: 10           # 10초마다 LivenessProbe 체크
            timeoutSeconds: 5           # 5초 후에 실패로 간주
            failureThreshold: 3         # 3번 실패시 Pod Restart
            successThreshold: 1         # 몇 번 성공해야 Ready 상태로 간주할 것인지
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/nginx.conf
              readOnly: true
              subPath: nginx.conf
            - name: conf-d
              mountPath: /etc/nginx/conf.d
              readOnly: true
            - name: static
              mountPath: /django/static
            - name: media
              mountPath: /django/media
            - name: tz-seoul
              mountPath: /etc/localtime
      volumes:
        - name: nginx-conf
          configMap:
            name: {{ include "nginx.fullname" . }}-config
            items:
              - key: NGINX.CONF
                path: nginx.conf
        - name: conf-d
          configMap:
            name: {{ include "nginx.fullname" . }}-config
            items:
              - key: LOG.CONF
                path: log.conf
              - key: UPSTREAM.CONF
                path: upstream.conf
              - key: PUBLIC.CONF
                path: public.conf
        - name: static
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-{{ include "nginx.fullname" . }}-{{ .Values.global.appMode }}-static-pvc
        - name: media
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-{{ include "nginx.fullname" . }}-{{ .Values.global.appMode }}-media-pvc
        - name: tz-seoul
          hostPath:
            path: /usr/share/zoneinfo/Asia/Seoul
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
