{% extends 'rebs/layouts/base.html' %}
{% load static %}

{% block third_party_css %}{% endblock %}

{% block content %}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">분양 계약 관리</a></li>
                        <li class="breadcrumb-item active">동호수 현황</li>
                    </ol>
                </div>
                <h4 class="page-title">동호수 현황</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        content
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- container -->

{% endblock %}

{% block third_party_js %}{% endblock %}


{% block demo_js %}{% endblock %}
