<ul class="nav nav-tabs mb-5">
    <li class="nav-item">
        <a href="{% url 'rebs:cash-inout:report' %}"
           aria-expanded="{% if menu_order == '1' %}true{% else %}false{% endif %}"
           class="nav-link  {% if menu_order == '1' %}active{% endif %}">
            <i class="mdi mdi-deskphone d-md-none d-block"></i>
            <span class="d-none d-md-block">일별 자금 현황</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'rebs:cash-inout:index' %}"
           aria-expanded="{% if menu_order == '2' %}true{% else %}false{% endif %}"
           class="nav-link  {% if menu_order == '2' %}active{% endif %}">
            <i class="mdi mdi-format-list-bulleted d-md-none d-block"></i>
            <span class="d-none d-md-block">입출금 내역 조회</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'rebs:cash-inout:create' %}"
           aria-expanded="{% if menu_order == '3' %}true{% else %}false{% endif %}"
           class="nav-link  {% if menu_order == '3' %}active{% endif %}">
            <i class="mdi mdi-pencil-box-multiple-outline d-md-none d-block"></i>
            <span class="d-none d-md-block">입출금 내역 등록</span>
        </a>
    </li>
</ul>
