apiVersion: v1
kind: Secret
metadata:
  name: {{ include "web.fullname" . }}-db-auth
  namespace: {{ .Release.Namespace | quote }}
type: Opaque
data:
  DATABASE_PASSWORD: {{ tpl .Values.global.password . | b64dec }}
