<ul class="nav nav-tabs mb-5">
    <li class="nav-item">
        <a href="{% url 'rebs:company:index' %}"
           aria-expanded="{% if menu_order == '1' %}true{% else %}false{% endif %}"
           class="nav-link  {% if menu_order == '1' %}active{% endif %}">
            <i class="mdi mdi-format-list-bulleted d-md-none d-block"></i>
            <span class="d-none d-md-block">회사 정보 관리</span>
        </a>
    </li>
    <li class="nav-item">
        <a href=""
           aria-expanded="{% if menu_order == '2' %}true{% else %}false{% endif %}"
           class="nav-link  {% if menu_order == '2' %}active{% endif %}">
            <i class="mdi mdi-pencil-box-multiple-outline d-md-none d-block"></i>
            <span class="d-none d-md-block">권한 설정 관리</span>
        </a>
    </li>
</ul>
