{% load humanize %}
<table id="scroll-horizontal-datatable"
       class="table table-hover table-centered table-condensed table-sm w-100 m-0 nowrap"
       style="word-break: keep-all;">
    <thead>
    <tr class="bg-nav-pills">
        <th class="text-center" scope="col"><input type="checkbox" disabled></th>
        <th class="text-center" scope="col">거래 일자</th>
        <th class="text-center" scope="col">차수</th>
        <th class="text-center" scope="col">타입</th>
        <th class="text-center" scope="col">계약일련번호</th>
        <th class="text-center" scope="col">계약자</th>
        <th class="text-center" scope="col">수납 금액</th>
        <th class="text-center" scope="col">납입 회차</th>
        <th class="text-center" scope="col">수납 계좌</th>
        <th class="text-center" scope="col">입금자</th>
        <th class="text-center" scope="col">
            <a href="javascript: void(0);" class="action-icon"><i
                    class="mdi mdi-pencil"></i></a>
            <a href="javascript: void(0);" class="action-icon"><i
                    class="mdi mdi-delete"></i></a>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for payment in object_list %}
        <tr class="{% if not payment.contract %}bg-warning-lighten{% endif %}">
            <th class="text-center" scope="row"><input type="checkbox" disabled>
            </th>
            <td class="text-center">{{ payment.deal_date|date:"Y-m-d" }}</td>
            <td class="text-center">{{ payment.contract.order_group|default:"-" }}</td>
            <td>
                {% if payment.contract.unit_type %}
                    <i class="mdi mdi-box-shadow font-17" style="color: {{ payment.contract.unit_type.color }}"></i>
                {% endif %}
                {{ payment.contract.unit_type|default:"-" }}
            </td>
            <td class="text-center">{{ payment.contract.serial_number|default:"-" }}
            </td>
            <td class="text-center">
                <a href="{% url 'rebs:cash-inout:payment-register' %}?project={{ this_project.id }}&type={{ payment.contract.unit_type.id }}&contract={{ payment.contract.id }}&payment_id={{ payment.id }}">
                    {{ payment.contract.contractor.name|default:"계약정보확인" }}
                </a>
            </td>
            <td class="text-right bg-success-lighten">
                <a href="{% url 'rebs:cash-inout:payment-register' %}?project={{ this_project.id }}&type={{ payment.contract.unit_type.id }}&contract={{ payment.contract.id }}&payment_id={{ payment.id }}">
                    {{ payment.income|floatformat:"0"|intcomma|default:"-" }}
                </a>
            </td>
            <td class="text-center bg-success-lighten">{{ payment.installment_order|default:"-" }}</td>
            <td class="text-center bg-success-lighten">{{ payment.bank_account }}</td>
            <td class="text-center bg-success-lighten">{{ payment.trader|default:"-" }}</td>
            <td class="text-center">
                <a href="{% url 'rebs:cash-inout:payment-register' %}?project={{ this_project.id }}&type={{ payment.contract.unit_type.id }}&contract={{ payment.contract.id }}&payment_id={{ payment.id }}"
                   class="action-icon"><i class="mdi mdi-pencil"></i></a>
                <a href="{% url 'rebs:cash-inout:payment-register' %}?project={{ this_project.id }}&type={{ payment.contract.unit_type.id }}&contract={{ payment.contract.id }}&payment_id={{ payment.id }}&delete=ok"
                   class="action-icon"><i class="mdi mdi-delete"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
