{% extends 'rebs/layouts/base.html' %}

{% block title %}Rebs - 분양 수납 내역{% endblock %}

{% load static %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        {% include 'rebs/partials/content_title.html' with  second_bs="분양 수납 관리" title="분양 수납 내역" %}
        <!-- end page title -->

        <div class="row">
            <form class="form-horizontal p-0 col-12" method="get">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            {% with menu_order='1' %}
                                {% include 'rebs_cash/partials/head_menu_payment.html' %}
                            {% endwith %}

                            <div class="row">
                                {% include 'rebs/partials/project_select.html' %}
                                <div class="col-sm-12 col-md-6"></div>
                            </div>
                            <div class="row">
                                {% include 'rebs_cash/partials/payment_list_summary.html' %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body pb-1">

                            {% include 'rebs_cash/partials/payment_list_search_form.html' %}

                            <div class="row">
                                <div class="col-12 table-responsive-md">
                                    <div class="text-right mb-1 mr-2">
                                        <a href="{% url 'excel:payments' %}?project={{ this_project.id }}&sd={{ request.GET.sd }}&ed={{ request.GET.ed }}&ipo={{ request.GET.ipo }}&ba={{ request.GET.ba }}&up={{ request.GET.up }}&q={{ request.GET.q }}">
                                            <i class="mdi mdi-file-excel-box"></i> Excel Export
                                            <i class="mdi mdi-download ml-1"></i>
                                        </a>
                                    </div>

                                    {% include 'rebs_cash/partials/payment_list_table.html' %}

                                </div>
                            </div>

                            {% if is_paginated %}

                                {# to_first_last :: 맨처음 / 맨끝으로 버튼 사용 여부 #}
                                {# page_class ex:: pagination-rounded pagination-sm pagination-lg justify-content-center justify-content-end #}
                                {% include 'partials/pagination.html' with to_first_last="ok" page_class="pagination-rounded justify-content-end" %}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- container -->

{% endblock %}

{% block third_party_js %}

    <script>
      const ipo = document.getElementById('id_ipo')
      const ba = document.getElementById('id_ba')
      const q = document.getElementById('id_q')

      window.onload = function () {
        document.getElementById('id_project_sel').setAttribute('onchange', 'submit()')

        document.getElementById('id_sd').value = '{{ request.GET.sd }}'
        document.getElementById('id_ed').value = '{{ request.GET.ed }}'

        ipo.value = '{{ request.GET.ipo }}'
        ba.value = '{{ request.GET.ba }}'
        q.value = '{{ request.GET.q }}'
        q.setAttribute('onclick', 'this.value=\'\'')
      }
    </script>

{% endblock %}
