body:fullscreen {
  overflow: auto !important;
}

body:-ms-fullscreen {
  overflow: auto !important;
}

body:-webkit-full-screen {
  overflow: auto !important;
}

body:-moz-full-screen {
  overflow: auto !important;
}

.wrapper {
  width: 100%;
  @include ltr-rtl('padding-left', var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}

.sidebar {
  --cui-sidebar-bg: #282c3e;
}

.sidebar-nav {
  // Firefox
  overflow: -moz-scrollbars-none;
  // IE 10+
  -ms-overflow-style: none;
  // Chrome, Edge, Safari, Opera
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

.modal-dialog {
  background-color: rgba(0, 0, 0, 0) !important;
}

.v-window--show-arrows-on-hover {
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #5b5c5d;
}

.dark-theme {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #ddd;
  }
}

a {
  color: #1b68d3;
}

a.active {
  font-weight: bold;
}
