// If you want to override variables do it here
@import 'variables';

// Import styles Chart.js Tooltips
@import 'ui/scss/themes/dark';
@import '@coreui/coreui/scss/coreui';
@import '@coreui/chartjs/scss/tooltips';

// Layout
@import 'layout';

// If you want to add something do it here
@import 'custom';

// Transition
@import 'transition';

// Plugins
@import 'mosha-vue-toastify/dist/style';
@import '@vueform/multiselect/themes/default.scss';
@import 'node_modules/@vuepic/vue-datepicker/src/VueDatePicker/style/main.scss';

// Plugins css override
@import 'customize/datepicker';
@import 'customize/multi_select';
@import 'customize/calendar';
