<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Rebs - Dashboard{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'rebs/images/favicon.png' %}">

    <!-- third party css -->
    {% block third_party_css %}{% endblock %}
    <!-- third party css end -->

    <!-- App css -->
    <link href="{% static 'rebs/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'rebs/css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style"/>
    <link href="{% static 'rebs/css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style"/>
    <style>
      .table-responsive th, .table-responsive td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>

</head>

<body class="loading" id="main-body">

<!-- Begin page -->
<div class="wrapper">

    {% include 'rebs/layouts/sidebar.html' %}

    <div class="content-page">

        {% if messages %}
            {% for message in messages %}
                <div id="alert-message" class="alert alert-{{ message.tags }} border-0 fade show" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="content">

            {% include 'rebs/layouts/header.html' %}

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            {% block content %}{% endblock %}

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

        </div>

        <!-- content -->
        {% include 'rebs/layouts/footer.html' %}

    </div>

</div>
<!-- END wrapper -->

{% include 'rebs/layouts/right_side.html' %}

<!-- bundle -->
<script src="{% static 'rebs/js/vendor.min.js' %}"></script>
<script src="{% static 'rebs/js/app.min.js' %}"></script>
<script>
  function hideDiv() {
    document.getElementById("alert-message").style.display = "none";
  }

  self.setTimeout("hideDiv()", 5000); // 초 지정
</script>

<!-- third party js -->
{% block third_party_js %}{% endblock %}
<!-- third party js ends -->

<!-- demo app -->
{% block demo_js %}{% endblock %}
<!-- end demo js-->
</body>
</html>
