{% if request.user.is_superuser or request.user.staffauth.human_resource > '0' %}
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-users-alt"></i>
            <span> 본사 인사 관리 </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li>
                <a href="#">직원 정보 관리
                    <span class="badge badge-pill badge-light-lighten font-10 float-right">준비중..</span>
                </a>
            </li>
            <li>
                <a href="#">성과 정보 관리
                    <span class="badge badge-pill badge-light-lighten font-10 float-right">준비중..</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" aria-expanded="false">
                    관련 정보 관리
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-third-level" aria-expanded="false">
                    <li>
                        <a href="#">부서 정보 관리
                            <span class="badge badge-pill badge-light-lighten font-10 float-right">준비중..</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">직급 정보 관리
                            <span class="badge badge-pill badge-light-lighten font-10 float-right">준비중..</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
{% endif %}
