{% if request.user.is_superuser or request.user.staffauth.company_docs > '0' %}
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-file-plus-alt"></i>
            <span> 본사 문서 관리 </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li>
                <a href="{% url 'rebs:docs:co.general_list' %}">일반 문서 관리
                    <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                </a>
            </li>
            {% if 'docs/general/add' in request.path %}
                <li>
                    <a href="{{ request.get_full_path }}">일반 문서 등록
                        <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                    </a>
                </li>
            {% endif %}
            {% if '1' in request.path or '2' in request.path or '3' in request.path or '4' in request.path or '5' in request.path or '6' in request.path or '7' in request.path or '8' in request.path or '9' in request.path %}
                {% if 'docs/general/' in request.path and 'update' not in request.path and 'delete' not in request.path %}
                    <li>
                        <a href="{{ request.get_full_path }}">일반 문서 열람
                            <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                        </a>
                    </li>
                {% endif %}
                {% if 'docs/general/update' in request.path %}
                    <li>
                        <a href="{{ request.get_full_path }}">일반 문서 수정
                            <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                        </a>
                    </li>
                {% endif %}
                {% if 'docs/general/delete' in request.path %}
                    <li>
                        <a href="{{ request.get_full_path }}">일반 문서 삭제
                            <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a href="javascript: void(0);" aria-expanded="false">법률 소송 관리
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-third-level" aria-expanded="false">
                    <li>
                        <a href="{% url 'rebs:docs:co.lawsuit_list' %}">소송 문서 관리
                            <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                        </a>
                    </li>
                    {% if 'docs/lawsuit/add' in request.path %}
                        <li>
                            <a href="{{ request.get_full_path }}">소송 문서 등록
                                <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if '1' in request.path or '2' in request.path or '3' in request.path or '4' in request.path or '5' in request.path or '6' in request.path or '7' in request.path or '8' in request.path or '9' in request.path %}
                        {% if 'docs/lawsuit/' in request.path and 'update' not in request.path and 'delete' not in request.path %}
                            <li>
                                <a href="{{ request.get_full_path }}">소송 문서 열람
                                    <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if 'docs/lawsuit/update/' in request.path %}
                            <li>
                                <a href="{{ request.get_full_path }}">소송 문서 변경
                                    <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if 'docs/lawsuit/delete' in request.path %}
                            <li>
                                <a href="{{ request.get_full_path }}">소송 문서 삭제
                                    <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li>
                        <a href="{% url 'rebs:docs:co.case_list' %}">소송 사건 관리
                            <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                        </a>
                    </li>

                    {% if 'docs/lawsuit/case/add' in request.path and 'update' not in request.path %}
                        <li>
                            <a href="{{ request.get_full_path }}">소송 사건 등록
                                <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if 'docs/lawsuit/case/update' in request.path %}
                        <li>
                            <a href="{{ request.get_full_path }}">소송 사건 변경
                                <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if 'docs/lawsuit/case/delete' in request.path %}
                        <li>
                            <a href="{{ request.get_full_path }}">소송 사건 삭제
                                <span class="badge badge-pill badge-success-lighten font-10 float-right">ok</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </li>
{% endif %}
