{% if request.user.is_superuser or request.user.staffauth.contract > '0' %}
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-file-contract-dollar"></i>
            <span> 분양 계약 관리 </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li>
                <a href="{% url 'rebs:contract:index' %}">계약 현황 조회
                    <span class="badge badge-pill badge-success-lighten font-10 float-right">Ok</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" aria-expanded="false">
                    계약 정보 관리
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-third-level" aria-expanded="false">
                    <li>
                        <a href="{% url 'rebs:contract:register' %}">계약 등록 관리
                            <span class="badge badge-pill badge-success-lighten font-10 float-right">Ok</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'rebs:contract:release' %}">계약 해지 관리
                            <span class="badge badge-pill badge-success-lighten font-10 float-right">Ok</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'rebs:contract:dashboard' %}">동호수 현황표
                    <span class="badge badge-pill badge-success-lighten font-10 float-right">Ok</span>
                </a>
            </li>
        </ul>
    </li>
{% endif %}
