<!-- Center modal -->
<button type="button" class="btn btn-{{ btn_class|default:"secondary" }}" data-toggle="modal"
        data-target="#centermodal">{{ btn|default:"Center modal" }}
</button>
<div class="modal fade" id="centermodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myCenterModalLabel">{{ title|default:"Center modal" }}</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
            </div>
            <div class="modal-body">
                {{ content|default:"..." }}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
