    <!-- prev button * next button -->
    <div class="prev_next_indicator d-none" id="indicator">
        {% if not request.GET.q %}
            {% if object.seq > 1 %}
                <a class="prev_icon" href="{{ object.get_previous_post.get_absolute_url }}" role="button">
                    <svg id="i-chevron-left" viewBox="0 0 32 32" width="25" height="25" fill="none" stroke="currentcolor" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="5">
                        <path d="M20 30 L8 16 20 2" />
                    </svg>
                </a>
            {% endif %}
            {% if object.seq < total %}
                <a class="next_icon" href="{{ object.get_next_post.get_absolute_url }}" role="button">
                    <svg id="i-chevron-right" viewBox="0 0 32 32" width="25" height="25" fill="none" stroke="currentcolor" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="5">
                        <path d="M12 30 L24 16 12 2" />
                    </svg>
                </a>
            {% endif %}
        {% endif %}
    </div>
