<div class="col-12 col-md-8 col-lg-4">
    <div class="form-group row mb-3">
        <label for="id_project_sel" class="col-4 col-form-label text-center bg-info-lighten">회사정보</label>
        <div class="col-8">
            <select name="project" id="id_project_sel" class="form-control select2" data-toggle="select2">
                {% for company in object_list %}
                    <option value="{{ company.id }}">{{ company }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
