<ul class="nav nav-tabs mb-5 bg-white">
    <li class="nav-item">
        <a href="{% url 'rebs:cash-inout:payment-index' %}{% if request.GET.project %}?project={{ request.GET.project }}{% endif %}"
           aria-expanded="{% if menu_order == '1' %}true{% else %}false{% endif %}"
           class="nav-link  {% if menu_order == '1' %}active{% endif %}">
            <i class="mdi mdi-format-list-bulleted d-md-none d-block"></i>
            <span class="d-none d-md-block">분양 수납 내역</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'rebs:cash-inout:payment-register' %}{% if request.GET.project %}?project={{ request.GET.project }}{% endif %}"
           aria-expanded="{% if menu_order == '2' %}true{% else %}false{% endif %}"
           class="nav-link  {% if menu_order == '2' %}active{% endif %}">
            <i class="mdi mdi-pencil-box-multiple-outline d-md-none d-block"></i>
            <span class="d-none d-md-block">건별 수납 관리</span>
        </a>
    </li>
</ul>
