{% load widget_tweaks %}
<div class="form-row">
    <div class="form-group col-md-2">
        <label for="{{ form.sd.id_for_label }}" class="col-form-label">거래 기간</label>
        {{ form.sd|add_class:"form-control"|attr:"placeholder:시작일"|attr:"data-provide=datepicker data-date-format=yyyy-mm-dd data-date-autoclose=true data-toggle=input-mask data-mask-format=0000-00-00" }}
    </div>
    <div class="form-group col-md-2">
        <label for="{{ form.ed.id_for_label }}"
               class="d-none d-md-block col-form-label">&nbsp;</label>
        {{ form.ed|add_class:"form-control"|attr:"placeholder:종료일"|attr:"data-provide=datepicker data-date-format=yyyy-mm-dd data-date-autoclose=true data-toggle=input-mask data-mask-format=0000-00-00" }}
    </div>
    <div class="form-group col-md-2">
        <label for="{{ form.ipo.id_for_label }}" class="col-form-label">납입 회차별</label>
        {{ form.ipo|add_class:"form-control" }}
    </div>
    <div class="form-group col-md-2">
        <label for="{{ form.ba.id_for_label }}" class="col-form-label">수납
            계좌별</label>
        {{ form.ba|add_class:"form-control" }}
    </div>
    <div class="form-group col-md-2 text-center my-auto">
        <label for="" class="col-form-label badge-success"></label>
        <div class="custom-control custom-switch">
            <input type="checkbox" name="up" class="custom-control-input" id="id_up"
                   {% if request.GET.up %}checked{% endif %} onclick="submit()">
            <label class="custom-control-label" for="{{ form.up.id_for_label }}">미등록
                수납대금만 보기</label>
        </div>
    </div>
    <div class="form-group col-md-2">
        <label for="{{ form.search_word.id_for_label }}"
               class="d-none d-md-block col-form-label">&nbsp;</label>
        <div class="input-group">
            <input name="q" id="id_q" type="text" class="form-control"
                   placeholder="검색어 - 계약자, 입급자, 적요, 비고" aria-label="검색어 - 계약자, 입급자, 적요, 비고"
                   onclick="this.value=''">
            <div class="input-group-append">
                <input type="submit" class="btn btn-info btn-sm btn-block" value="검색">
            </div>
        </div>
    </div>
</div>
