<div class="row pl-3 text-dark">
    {% if this_contract %}
        <h5 class="m-0 {% if not this_contract.activation %}text-danger{% endif %}">
            <i class="mdi mdi-star text-info mdi-18px"></i>
            [일련번호 : {{ this_contract.serial_number }}] (타입
            : {{ this_contract.unit_type }}
            <i class="mdi mdi-square"
               style="color: {{ this_contract.unit_type.color }};"></i>
            {% if this_project.is_unit_set %}{{ this_contract.keyunit.houseunit }}{% endif %} |
            {% if not this_contract.activation %}해지{% endif %}
            계약자 : {{ this_contract.contractor.name }})
        </h5>

        <span class="ml-2"> (<a
                href="{% url 'pdf:payments' %}?project={{ this_project.id }}&contract={{ this_contract.id }}"
                style="text-decoration: underline;">납부내역서 출력</a>)</span>
    {% endif %}
</div>
