{% load static widget_tweaks %}

<form method="post" name="form1" id="form1" class="form-horizontal needs-validation p-0" enctype="multipart/form-data"
      novalidate>
    {% csrf_token %}
    {{ form.errors }}

    <div class="col-12 col-lg-10">
        <div class="row mb-2 text-right">
            <label for="{{ form.title.id_for_label }}" class="col-2 col-form-label">{{ form.title.label }}</label>
            <div class="col-10">
                {{ form.title|add_class:"form-control text-dark bg-dragula"|attr:"placeholder:제목" }}
            </div>
        </div>

        <div class="row mb-2 text-right">
            <label for="{{ form.is_notice.id_for_label }}"
                   class="col-2 col-form-label">{{ form.is_notice.label }}</label>
            <div class="col-10 text-left pt-1 custom-control custom-switch" style="padding-left: 50px;">
                {{ form.is_notice|add_class:"custom-control-input"|attr:"placeholder:공지" }}
                <label for="{{ form.is_notice.id_for_label }}" class="custom-control-label" data-on-label=""
                       data-off-label=""></label>
            </div>
        </div>

        <div class="row mb-3 text-right">
            {% if this_board.pk == 2 %}
                <div class="col-12 col-md-6">
                    <div class="row mb-2">
                        <label for="{{ form.category.id_for_label }}"
                               class="col-2 col-md-4 col-form-label">{{ form.category.label }}</label>
                        <div class="col-10 col-md-8 text-left">
                            {{ form.category|add_class:"form-control"|attr:"placeholder:카테고리"|attr:"required" }}
                        </div>
                    </div>
                </div>
            {% elif this_board.pk == 3 %}
                <div class="col-12 col-md-6">
                    <div class="row mb-2">
                        <label for="{{ form.lawsuit.id_for_label }}"
                               class="col-2 col-md-4 col-form-label">{{ form.lawsuit.label }}</label>
                        <div class="col-10 col-md-8 text-left">
                            {{ form.lawsuit|add_class:"form-control select2"|attr:"data-toggle:select2"|attr:"placeholder:카테고리"|attr:"required" }}
                            <div class="invalid-feedback">사건번호를 선택하여 주십시요.</div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col-12 col-md-6">
                <div class="row mb-2">
                    <label for="{{ form.execution_date.id_for_label }}"
                           class="col-2 col-md-4 col-form-label">{{ form.execution_date.label }}</label>
                    <div class="col-10 col-md-8">
                        {{ form.execution_date|add_class:"form-control"|attr:"placeholder:문서 시행일자"|attr:"data-provide=datepicker data-date-format=yyyy-mm-dd data-date-autoclose=true data-toggle=input-mask data-mask-format=0000-00-00" }}
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-12 mb-2">
        {{ form.content|add_class:"form-control" }}
    </div>

    <div class="offset-sm-1 mb-1 form-group">
        {{ link_formset.management_form }}

        <fieldset class="col-12 p-0">
            {% for form in link_formset.forms %}
                {# Include the hidden fields in the form #}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <fieldset class="row col-12 p-0">
                    {% for field in form.visible_fields %}
                        {{ field.errors.as_ul }}
                        {% if forloop.first %}
                            <div class="col-12 col-xl-8 pl-3 pr-3 mt-2">
                                <div class="input-group">
                                    <label for="{{ field.id_for_label }}"
                                           class="col-2 col-xl-1 col-form-label">
                                        {{ field.label }}{{ forloop.parentloop.counter }}</label>
                                    {{ field|add_class:"form-control" }}
                                </div>
                            </div>
                        {% elif forloop.last %}
                            <div class="col mt-2 ml-2" style="padding: 8px;">
                                <div class="input-group">
                                    {{ field|add_class:"form-check-input"|attr:"type:checkbox" }}
                                    <label for="{{ field.id_for_label }}"
                                           class="form-check-label">{{ field.label }}</label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </fieldset>
            {% endfor %}
        </fieldset>
    </div>

    <div class="offset-sm-1 mb-1 form-group">
        {{ file_formset.management_form }}

        <fieldset class="empty-form" style="display: none">
            <fieldset class="row col-12 p-0">
                <div class="col-12 col-xl-8 pl-3 pr-3 mt-2">
                    <div class="input-group">
                        <label for="id_file_set-__prefix__-file" class="col-2 col-xl-1 col-form-label">파일</label>
                        <input type="file" name="file_set-__prefix__-file" class="form-control"
                               id="id_file_set-__prefix__-file">
                        <button type="button" class="btn btn-danger" data-formset-remove-form>-</button>
                    </div>
                </div>
            </fieldset>
        </fieldset>

        <fieldset class="forms col-12 p-0">
            {% for form in file_formset.forms %}
                {# Include the hidden fields in the form #}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <fieldset class="row col-12 p-0">
                    {% for field in form.visible_fields %}
                        {{ field.errors.as_ul }}
                        {% if forloop.first %}
                            <div class="col-12 col-xl-8 pl-3 pr-3 mt-2">
                                <div class="input-group">
                                    <label for="{{ field.id_for_label }}"
                                           class="col-2 col-xl-1 col-form-label">{{ field.label }}</label>
                                    {{ field|add_class:"form-control"|attr:"onchange:sizeCheck(this)" }}
                                </div>
                            </div>
                        {% elif forloop.last %}
                            <div class="col mt-2 ml-2" style="padding: 8px;">
                                <div class="input-group">
                                    {{ field|add_class:"form-check-input"|attr:"type:checkbox" }}
                                    <label for="{{ field.id_for_label }}"
                                           class="form-check-label">{{ field.label }}</label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </fieldset>
            {% endfor %}
        </fieldset>
    </div>

    <div class="row col-12 mb-5">
        <div class="col-12 text-right p-0 mt-2">
            <button type="button" class="btn btn-secondary" onclick="history.back()">취소</button>
            <button type="button" class="btn btn-info" data-formset-add-form>파일추가</button>
            <button type="submit" class="btn btn-{% if 'add' in request.path %}primary{% else %}success{% endif %}">
                등록완료
            </button>
        </div>
    </div>
</form>

{% block third_party %}
    {# formset add form script #}
    <script src="{% static 'common/js/formset_add_form.js' %}"></script>

    <script>
      function sizeCheck (fileForm) {
        if (fileForm.files[0].size > (20 * 1024 * 1024)) {
          alert("업로드 가능한 최대 크기(20M)를 초과합니다. \n\n구글드라이브 등에 업로드 후 다운로드 주소를 상기 링크 폼에 등록 하세요.");
          fileForm.value = "";
        }
      }
    </script>
{% endblock %}
