{% load humanize %}

<table class="table table-sm table-hover" style="font-family: sans-serif;">

    <thead>
    <tr>
        <th style="width: 8%">번호</th>
        {% if co %}<th style="width: 10%">구분</th>{% endif %}
        <th style="width: 22%">사건 번호</th>
        <th style="width: 24%">문서 제목</th>
        <th style="width: 10%">등록자</th>
        <th style="width: 18%">등록일시</th>
        <th style="width: 8%">조회수</th>
    </tr>
    </thead>
    <tbody>
    {% for notice in notices %}
        <tr>
            <td><span class="badge badge-dark pl-1 pr-1">공지</span></td>
            {% if co %}<td></td>{% endif %}
            <td>{{ notice.execution_date|date:"Y-m-d"|default:"" }}</td>
            <td style="white-space:nowrap; overflow:hidden; display:block;">
                {% if co and notice.project %}
                    <span class="badge badge-outline-success mr-1">{{ notice.project }}</span> {% endif %}
                <a href="{% if co %}
                    {% if this_board.pk == 2 %}
                        {% url 'rebs:docs:co.general_detail' notice.pk %}
                    {% elif this_board.pk == 3 %}
                        {% url 'rebs:docs:co.lawsuit_detail' notice.pk %}
                    {% endif %}
                {% else %}
                    {% if this_board.pk == 2 %}
                        {% url 'rebs:docs:pr.general_detail' notice.pk %}
                    {% elif this_board.pk == 3 %}
                        {% url 'rebs:docs:pr.lawsuit_detail' notice.pk %}
                    {% endif %}
                {% endif %}" class="text-secondary">{{ notice|truncatechars:30 }}</a>
            </td>
            <td>{{ notice.user }}</td>
            <td>{{ notice.updated|default:notice.created }}</td>
            <td>{{ notice.hit|default:"-"|intcomma }}</td>
        </tr>
    {% endfor %}

    {% for object in object_list %}
        <tr>
            <td>{{ forloop.revcounter|add:add_num }}</td>
            {% if co %}
                <td>
                {% if co %}
                    {% if object.project %}
                        <a href="?project={{ object.project.pk }}&category={{ request.GET.category }}">
                            <span class="badge badge-outline-success mr-1">{{ object.project }}</span>
                        </a>
                    {% else %}
                        <a href="?project=co&category={{ request.GET.category }}">
                            <span class="badge badge-primary-lighten mr-1">본사</span>
                        </a>
                    {% endif %}
                {% endif %}
                </td>
            {% endif %}
            <td class="text-dark">{{ object.lawsuit|default:"-"|truncatechars:29 }}</td>
            <td style="white-space:nowrap; overflow:hidden; display:block;">
                {% if object.category %}
                    <a href="?project={{ request.GET.project }}&category={{ object.category.pk }}">
                        <span class="badge badge-secondary font-10 mr-1">{{ object.category }}</span>
                    </a>
                {% endif %}

                <a href="{% if co %}
                        {% if this_board.pk == 2 %}
                            {% url 'rebs:docs:co.general_detail' object.pk %}
                        {% elif this_board.pk == 3 %}
                            {% url 'rebs:docs:co.lawsuit_detail' object.pk %}
                        {% endif %}
                    {% else %}
                        {% if this_board.pk == 2 %}
                            {% url 'rebs:docs:pr.general_detail' object.pk %}
                        {% elif this_board.pk == 3 %}
                            {% url 'rebs:docs:pr.lawsuit_detail' object.pk %}
                        {% endif %}
                    {% endif %}" class="text-secondary">
                    {{ object|truncatechars:30 }}
                    {% if object.link_set.all %}<i class="mdi mdi-link-variant text-dark"></i>{% endif %}
                    {% if object.file_set.all %}<i class="mdi mdi-download text-dark"></i>{% endif %}
                    {% if object.is_new %}<span class="badge badge-success">New</span>{% endif %}
                </a>

            </td>
            <td>{{ object.user }}</td>
            <td>{{ object.updated|default:object.created }}</td>
            <td>{{ object.hit|default:"-"|intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
