<form action="" method="get" class="col-12 p-0">
    <div class="col-12 row mb-3">
        <div class="col-xs-12 col-sm-4 col-md-6 row">
            <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
                <select name="order" class="form-control form-select" id="order" onchange="submit()">
                    <option value="" {% if not request.GET.order %}selected{% endif %}>정렬하기</option>
                    <option value="1" {% if request.GET.order == '1' %}selected{% endif %}>작성일자</option>
                    <option value="2" {% if request.GET.order == '2' %}selected{% endif %}>시행일자</option>
                    <option value="3" {% if request.GET.order == '3' %}selected{% endif %}>조회수</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 row">
            <div class="d-none d-xl-block col-xl-4"></div>
            <div class="col-sm-4 col-md-4 col-xl-3">
                <select name="filter" class="form-control form-select" id="filter">
                    <option value="1" {% if not request.GET.filter or request.GET.filter == '1' %}selected{% endif %}>제목+내용</option>
                    <option value="2" {% if request.GET.filter == '2' %}selected{% endif %}>제목</option>
                    <option value="3" {% if request.GET.filter == '3' %}selected{% endif %}>내용</option>
                    <option value="4" {% if request.GET.filter == '4' %}selected{% endif %}>작성자</option>
                </select>
            </div>
            <div class="col-sm-8 col-md-8 col-xl-5">
                <div class="input-group">
                    <input name="q" id="q" value="{{ request.GET.q }}" type="text" class="form-control" placeholder="Search" aria-label="Search" onclick="this.value=''">
                    <button class="btn btn-dark" type="submit">검색</button>
                </div>
            </div>
        </div>
    </div>
</form>
