Django==4.2.5
uWSGI==2.0.22
mysqlclient==2.2.0
django-widget-tweaks==1.5.0
django-markdown2==0.3.1
Pillow==10.0.1
django-mdeditor==0.1.20
django-tinymce==3.6.1
django-import-export==3.3.1
django-admin-rangefilter==0.11.2
boto3==1.28.59
django-storages==1.14.1
django-mathfilters==1.0.0
XlsxWriter==3.1.6
WeasyPrint==60.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
PyJWT==2.8.0
django-allauth==0.54.0
django-filter==23.3
django-crispy-forms==2.0
crispy-bootstrap4==2022.1
