Django
uWSGI
mysqlclient
django-widget-tweaks
django-markdown2
Pillow
django-mdeditor
django-tinymce
django-import-export
django-admin-rangefilter
boto3
django-storages
django-mathfilters
XlsxWriter
WeasyPrint==52
djangorestframework
djangorestframework-simplejwt
PyJWT
django-allauth
httpie
django-filter
django-crispy-forms==1.*
