Django==4.1.2
uWSGI==2.0.20
mysqlclient==2.1.1
django-widget-tweaks==1.4.12
django-markdown2==0.3.1
Pillow==9.2.0
django-mdeditor==0.1.20
django-tinymce==3.5.0
django-import-export==2.8.0
django-admin-rangefilter==0.8.8
boto3==1.24.67
django-storages==1.13.1
django-mathfilters==1.0.0
XlsxWriter==3.0.3
WeasyPrint==52
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
PyJWT==2.4.0
django-allauth==0.51.0
httpie==3.2.1
django-filter==22.1
django-crispy-forms==1.14.0
