<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'rebs/images/favicon.png' %}">

    <!-- App css -->
    <link href="{% static 'rebs/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'rebs/css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style"/>
    <link href="{% static 'rebs/css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style"/>

</head>

<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>

<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- Logo -->
                <div class="auth-brand text-center text-lg-left">
                    <a href="/" class="logo-dark">
                        <span><img src="/static/rebs/images/logo-dark.png" alt="" height="42"></span>
                    </a>
                    <a href="/" class="logo-light">
                        <span><img src="/static/rebs/images/logo.png" alt="" height="42"></span>
                    </a>
                </div>

                {% block content %}{% endblock %}

            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->

    <!-- Auth fluid right content -->
    <div class="auth-fluid-right text-center">
        <div class="auth-user-testimonial">
            <h2 class="mb-3">I love the color!</h2>
            <p class="lead"><i class="mdi mdi-format-quote-open"></i> It's a elegent templete. I love it very much! . <i
                    class="mdi mdi-format-quote-close"></i>
            </p>
            <p>
                - Hyper Admin User
            </p>
        </div> <!-- end auth-user-testimonial-->
    </div>
    <!-- end Auth fluid right content -->
</div>
<!-- end auth-fluid-->

<!-- bundle -->
<script src="{% static 'rebs/js/vendor.min.js' %}"></script>
<script src="{% static 'rebs/js/app.min.js' %}"></script>

</body>

</html>
