<!doctype html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <link rel="icon" href="{% static 'rebs/images/favicon.png' %}">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>{% block title %}REBS{% endblock %}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'book/css/app.css' %}">
    {% block extracss %}{% endblock %}
</head>

<body>
<div id="docs-app" class="container-fluid">

    {% include "book/layouts/navigation.html" %}

    {% block content %}{% endblock %}

    {% include "book/layouts/footer.html" %}
</div>

<!-- Script -->
<script src="{% static 'book/js/app.js' %}"></script>
{% block extrajs %}{% endblock %}
</body>
</html>
