server {
    listen          80;
    server_name     $host www.$host;
    return          301 https://$host$request_uri;
}

server {
    listen          443 ssl;
    server_name     $host www.$host;
    charset         utf-8;

    ssl_certificate /etc/letsencrypt/live/{{ var "SERVER_NAME" }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ var "SERVER_NAME" }}/privkey.pem;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!MD5;

    location / {
        uwsgi_pass  django_uwsgi;
        include     /etc/nginx/uwsgi_params;
        proxy_hide_header Access-Control-Allow-Origin;
        add_header 'Access-Control-Allow-Origin' '*';
    }

    location ^~ /.well-known/acme-challenge/ {
        default_type “text/plain”;
        root /var/www/{{ var "SERVER_NAME" | default "localhost" }};
    }

    location /static/ {
        alias /static/;
    }
}

server_tokens off;
