{% load humanize mathfilters %}

<div class="row">
    <div class="col-12 border-bottom mb-3">
        <h4>
            {% if co %}{% if not object.project %}본사{% else %}{{ object.project }}{% endif %}
                {% if not object.category %} <i class="uil-angle-double-right"></i> {% endif %}{% endif %}
            {% if object.category %}[{{ object.category }}]
                <i class="uil-angle-double-right"></i> {% endif %}{{ object.title }}
        </h4>
    </div>

    <div class="row col-12 mb-3">
        <div class="col-12 col-md-6">
            <small class="mr-2">{{ object.user }}</small>
            <i class="mdi mdi-comment-text-multiple mr-2"></i> <small
                class="mr-3">{{ object.comment_set.count }}</small>
            <i class="mdi mdi-eye mr-2"></i> <small class="mr-3">{{ object.hit|intcomma }}</small>
            <i class="mdi mdi-thumb-up mr-2"></i> <small class="mr-3">{{ object.like|intcomma }}</small>
            <i class="mdi mdi-thumb-down mr-2"></i> <small class="mr-3">{{ object.dislike|intcomma }}</small>
            <a href="javascript:alert('준비중!')" class="text-secondary"><i class="mdi mdi-printer mr-1"></i><small
                    class="mr-3">Print</small></a>
        </div>
        <div class="col-12 col-md-6 text-right">
            <i class="mdi mdi-calendar-clock"></i> <small>{{ object.created }}</small>
        </div>
    </div>

    <div class="col-12">
        {% if this_board.pk == 1 and object.execution_date %}
            <table class="table-sm table-bordered border-primary mt-2 mb-3">
                <tr>
                    <td class="p-2 bg-dragula">문서 시행일자</td>
                    <td class="p-2">{{ object.execution_date|date:"Y-m-d" }}</td>
                </tr>
            </table>
        {% endif %}

        {% if this_board.pk == 2 or object.lawsuit %}
            <table class="table-sm table-bordered border-primary mt-2 mb-3">
                <tr>
                    <td class="p-2 bg-dragula">사건번호</td>
                    <td class="p-2">{{ object.lawsuit|default:"---------" }}</td>
                </tr>
            </table>
        {% endif %}

        {% if object.link_set.all %}
            <ul class="list-group">
                <li class="list-group-item disabled text-dark" aria-disabled="true">Link</li>
                {% for link in object.link_set.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <i class="dripicons-link mr-1"></i>
                                <a href="{% url 'rebs:docs:link_hit' link.pk %}" target="_blank">{{ link }}</a>
                            </div>
                        </div>
                        <span class="badge bg-secondary rounded-pill text-white">{{ link.hit }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if object.file_set.all %}
            <ul class="list-group">
                <li class="list-group-item disabled text-dark" aria-disabled="true">Download</li>
                {% for file in object.file_set.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <i class="dripicons-download mr-1"></i>
                                <a href="{% url 'rebs:docs:file_download' file.pk %}" target="_blank">{{ file.file.name }}</a>
                                ({% if file.file.size < 1024 %}{{ file.file.size|floatformat }} Bytes{% elif file.file.size < 1048576 %}{{ file.file.size|div:1024|floatformat }} KB{% else %}{{ file.file.size|div:1048576|floatformat }} MB{% endif %})
                                <i class="dripicons-clock ml-2"></i>
                                <small>{{ object.created|date:"y-m-d H:m" }}</small>
                            </div>
                        </div>
                        <span class="badge bg-secondary rounded-pill text-white">{{ file.hit }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="col-12 pl-4 pr-4 mt-5 mb-4">

        <p>{{ object.content|safe }}</p>

    </div>

    <div class="col-12 mb-5 text-center">
        <button class="btn btn-light btn-rounded p-2" onclick="alert('준비중!')"><i
                class="mdi mdi-thumb-up-outline font-18"></i></button>
        <button class="btn btn-light btn-rounded p-2" onclick="alert('준비중!')"><i
                class="mdi mdi-thumb-down-outline font-18"></i></button>
    </div>

    <div class="row col-12 mb-5">
        <div class="col-6">
            <a href="javascript:alert('사용할 수 없는 기능입니다.')" class="text-secondary">
                <i class="mdi mdi-facebook mr-1 font-18"></i>
            </a>
            <a href="javascript:alert('사용할 수 없는 기능입니다.')" class="text-secondary">
                <i class="mdi mdi-twitter mr-1 font-18"></i>
            </a>
            <a href="javascript:alert('사용할 수 없는 기능입니다.')" class="text-secondary">
                <i class="mdi mdi-instagram mr-1 font-18"></i>
            </a>
        </div>
        <div class="col-6 text-right">
            <button class="btn btn-sm btn-dark" onclick="alert('준비중!')">스크랩</button>
            <button class="btn btn-sm btn-dark" onclick="alert('준비중!')">신고</button>
        </div>
    </div>

    <div class="row col-12 mb-5">
        <div class="col-9 p-1">
            <div class="btn-group">
                {% if request.user.is_superuser or request.user == object.user %}
                    <a href="{% if co %}

                        {% if this_board.pk == 1 %}{% url 'rebs:docs:co.general_update' object.pk %}{% else %}{% url 'rebs:docs:co.lawsuit_update' object.pk %}{% endif %}
                    {% else %}

                        {% if this_board.pk == 1 %}{% url 'rebs:docs:pr.general_update' object.pk %}{% else %}{% url 'rebs:docs:pr.lawsuit_update' object.pk %}{% endif %}
                    {% endif %}">
                        <button type="button" class="btn btn-light">수정</button>
                    </a>

                    <a href="{% if co %}

                        {% if this_board.pk == 1 %}{% url 'rebs:docs:co.general_delete' object.pk %}{% else %}{% url 'rebs:docs:co.lawsuit_delete' object.pk %}{% endif %}
                    {% else %}

                        {% if this_board.pk == 1 %}{% url 'rebs:docs:pr.general_delete' object.pk %}{% else %}{% url 'rebs:docs:pr.lawsuit_delete' object.pk %}{% endif %}
                    {% endif %}">
                        <button type="button" class="btn btn-light">삭제</button>
                    </a>
                {% endif %}
                <a href="{% if co %}
                            {% if this_board.pk == 1 %}
                                {% url 'rebs:docs:co.general_list' %}
                            {% else %}
                                {% url 'rebs:docs:co.lawsuit_list' %}
                            {% endif %}
                        {% else %}
                            {% if this_board.pk == 1 %}
                                {% url 'rebs:docs:pr.general_list' %}
                            {% else %}
                                {% url 'rebs:docs:pr.lawsuit_list' %}
                            {% endif %}
                        {% endif %}">
                    <button class="btn btn-light">목록</button>
                </a>

                {% if prev %}
                    <button class="btn btn-light" onclick="location.href='{{ prev }}'">이전글</button>{% endif %}
                {% if next %}
                    <button class="btn btn-light" onclick="location.href='{{ next }}'">다음글</button>{% endif %}
            </div>
        </div>
        <div class="col-3 text-right p-1">
            <a href="{% if co %}


                {% if this_board.pk == 1 %}{% url 'rebs:docs:co.general_create' %}{% else %}{% url 'rebs:docs:co.lawsuit_create' %}{% endif %}
            {% else %}


                {% if this_board.pk == 1 %}{% url 'rebs:docs:pr.general_create' %}{% else %}{% url 'rebs:docs:pr.lawsuit_create' %}{% endif %}
            {% endif %}">
                <button type="button" class="btn btn-primary">등록하기</button>
            </a>

        </div>
    </div>

    {% if not object.is_hide_comment %}
        <div class="col-12">
            {% load disqus_tags %}
            {% set_disqus_url post_absolute_url %}
            {% disqus_show_comments %}
        </div>
    {% endif %}
</div>
