{% if request.user.is_superuser or request.user.staffauth.company_cash > '0' %}
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-money-stack"></i>
            <span> 본사 자금 관리 </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li>
                <a href="{% url 'rebs:cash-inout:report' %}">일별 자금 현황
                    <span class="badge badge-pill badge-success-lighten font-10 float-right">Ok</span>
                </a>
            </li>
            <li>
                <a href="{% url 'rebs:cash-inout:index' %}">입출금 내역 조회
                    <span class="badge badge-pill badge-success-lighten font-10 float-right">Ok</span>
                </a>
            </li>
            <li>
                <a href="{% url 'rebs:cash-inout:create' %}">입출금 내역 등록
                    <span class="badge badge-pill badge-success-lighten font-10 float-right">Ok</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" aria-expanded="false">관련 정보 관리
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-third-level" aria-expanded="false">
                    <li>
                        <a href="#">은행 계좌 등록
                            <span class="badge badge-pill badge-light-lighten font-10 float-right">준비중..</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">거래처 등록 관리
                            <span class="badge badge-pill badge-light-lighten font-10 float-right">준비중..</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
{% endif %}
