{% if request.user.is_superuser or request.user.staffauth.notice > '0' %}
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-envelope-add"></i>
            <span> 고객 고지 관리 </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li>
                <a href="{% url 'rebs:notice:bill' %}">
                    수납 고지서 발행
                    <span class="badge badge-pill badge-success-lighten font-10 float-right">Ok</span>
                </a>
            </li>
            <li>
                <a href="#">
                    SMS 발송 관리
                    <span class="badge badge-pill badge-light-lighten font-10 float-right">준비중..</span>
                </a>
            </li>
            <li>
                <a href="#">
                    MAIL 발송 관리
                    <span class="badge badge-pill badge-light-lighten font-10 float-right">준비중..</span>
                </a>
            </li>
            <li>
                <a href="#">
                    우편 라벨 관리
                    <span class="badge badge-pill badge-light-lighten font-10 float-right">준비중..</span>
                </a>
            </li>

            <li>
                <a href="#">발송 기록 관리
                    <span class="badge badge-pill badge-light-lighten font-10 float-right">준비중..</span>
                </a>
            </li>
        </ul>
    </li>
{% endif %}
