{% if request.user.is_superuser or request.user.staffauth.company_settings > '0' or request.user.staffauth.auth_manage > '0' %}
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-cog"></i>
            <span> 환경 설정 </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            {% if request.user.is_superuser or request.user.staffauth.company_settings > '0' %}
                <li>
                    <a href="{% url 'rebs:company:index' %}">회사 정보 관리
                        <span class="badge badge-pill badge-success-lighten font-10 float-right">Ok</span>
                    </a>
                </li>
            {% endif %}

            {% if request.user.is_superuser or request.user.staffauth.auth_manage > '0' %}
                <li>
                    <a href="#">권한 설정 관리
                        <span class="badge badge-pill badge-light-lighten font-10 float-right">준비중..</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </li>
{% endif %}
