{% extends 'layouts/registration-2.html' %}

{% block content %}
<form action="registration" id="loginForm" method="post" class="needs-validation" novalidate>
    {% csrf_token %}

    {% if form.errors %}
    <p class="errornote">Wrong! Please correct the error(s) below.</p>
    {% endif %}

    {% load widget_tweaks %}

    <!-- title-->
    <h4 class="mt-0">{{ user }} - Password Change</h4>
    <p class="text-muted mb-4">Enter your ID and password to access account.</p>

    <div class="form-group">
        {{ form.old_password|add_class:'form-control'|attr:'placeholder:Old password' }}
    </div>
    <div class="form-group">
        {{ form.new_password1|add_class:'form-control'|attr:'placeholder:New password' }}
    </div>
    <div class="form-group">
        {{ form.new_password2|add_class:'form-control'|attr:'placeholder:New password confirmation' }}
    </div>

    <button class="btn btn-primary">Password Change</button>

</form>
{% endblock %}
