Django==4.0.1
django-widget-tweaks==1.4.12
django-markdown2==0.3.1
Pillow==8.3.1
django-mdeditor==0.1.20
django-tinymce==3.4.0
django-import-export==2.7.1
boto3==1.20.46
django-storages==1.12.3
django-mathfilters==1.0.0
XlsxWriter
WeasyPrint
