{% load mathfilters humanize %}
<table style="width:100%; padding: 0; margin: 0;">
    <tr>
        <th style="height:50px; margin:auto; text-align:center; " colspan="2">
            <h2>{{ bill_info.project }}</h2>
        </th>
    </tr>
    <tr>
        <td style="font-size:11px;">{{ bill_info.zipcode }} {{ bill_info.address1 }} {{ bill_info.address2 }} {{ bill_info.address3 }}</td>
        <td style="font-size:11px; text-align:right;">Tel. {{ bill_info.host_tel }}</td>
    </tr>
</table>

<table style="width:100%; font-size:12px;">
    <tr>
        <td style="border-top: 2px solid #000; width: 60px; padding: 8px 15px 2px;">문서 번호 :</td>
        <td style="border-top: 2px solid #000;"></td>
        <td style="border-top: 2px solid #000; width: 60px; padding: 8px 15px 2px; text-align: right; font-size: 11px;">{{ issue_date|date:"Y-m-d" }}</td>
    </tr>
    <tr>
        <td style="padding: 5px 15px 2px;">수 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;신 :</td>
        <td style="padding: 5px 0 2px; font-size:13px;" colspan="2"><strong>{{ data.contract.contractor.name }}
            님</strong></td>
    </tr>
    <tr>
        <td style="padding: 5px 15px 2px;">참 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;조 :</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td style="padding: 2px 15px  8px; border-bottom: 2px solid #000;">제 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;목 :
        </td>
        <td style="padding: 2px 0 8px; font-size:14px; border-bottom: 2px solid #000;" colspan="2">{{ bill_info.title }}</td>
    </tr>
</table>

<table style="width:100%; height: 140px; font-size:12px;">
    <tr>
        <td style="padding: 5px 15px 0;">{{ bill_info.content|linebreaks }}</td>
    </tr>
</table>

<table style="margin-top: 10px;">
    <tr>
        <td style="font-size: 12px;">■ 계약 내용</td>
    </tr>
</table>

<table style="width:100%; font-size:11px; border-collapse:collapse;" cellpadding=0; cellspacing=0;>
    <tr>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center;" width="20%;">계약자명</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center;" width="20%;">계 약 일</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center;" width="20%;">
            {% if data.unit %}동 호수{% else %}계약 번호{% endif %}
        </td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center;" width="20%;">평형(TYPE)</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center;" width="20%;">총 공급가액</td>
    </tr>
    <tr>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; ">{{ data.cont_content.contractor }}</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; ">{{ data.cont_content.cont_date }}</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; ">{{ data.cont_content.cont_no }}</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; ">{{ data.cont_content.cont_type }}</td>
        <td style="padding: 3px 10px; border:1px solid black; text-align:{% if data.unit %}right{% else %}center{% endif %}; ">{{ data.price|intcomma }}</td>
    </tr>
</table>

<table style="margin-top: 10px; width: 100%;">
    <tr>
        <td style="font-size: 12px;">■ 납부대금 안내</td>
        <td style="font-size: 11px; text-align: right;">[{{ issue_date|date:"Y-m-d" }} 현재]</td>
    </tr>
</table>
<table style="width:100%; font-size:11px; border-collapse:collapse;" cellpadding=0; cellspacing=0;>
    <tr>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center;" width="16%;">납부 회차</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center;" width="16%;">납부 기한</td>
        <td style="padding: 3px 10px; border:1px solid black; text-align:center;" width="16%;">약정 금액</td>
        <td style="padding: 3px 10px; border:1px solid black; text-align:center;" width="16%;">미납 금액</td>
        <td style="padding: 3px 10px; border:1px solid black; text-align:center;" width="16%;">연체가산금</td>
        <td style="padding: 3px 10px; border:1px solid black; text-align:center;" width="20%;">납부 금액</td>
    </tr>
    {% for this_order in data.this_pay_info %}
        <tr>
            <td style="padding: 3px 0px; border:1px solid black; text-align:center;">{{ this_order.order }}</td>
            <td style="padding: 3px 0px; border:1px solid black; text-align:center;">{{ this_order.due_date|default:"" }}</td>
            <td style="padding: 3px 10px; border:1px solid black; text-align:right;">{{ this_order.amount|default:"-"|intcomma }}</td>
            <td style="padding: 3px 10px; border:1px solid black; text-align:right;">{{ this_order.unpaid|default:"-"|intcomma }}</td>
            <td style="padding: 3px 10px; border:1px solid black; text-align:right;">{{ this_order.penalty|default:"-"|intcomma }}</td>
            <td style="padding: 3px 10px; border:1px solid black; text-align:right;">{{ this_order.sum_amount|default:"-"|intcomma }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center;" colspan="2">합 계</td>
        <td style="padding: 3px 10px; border:1px solid black; text-align:right;">{{ data.this_pay_sum.amount_sum|default:"-"|intcomma }}</td>
        <td style="padding: 3px 10px; border:1px solid black; text-align:right;">{{ data.this_pay_sum.unpaid_sum|default:"-"|intcomma }}</td>
        <td style="padding: 3px 10px; border:1px solid black; text-align:{% if data.late_fee_sum %}center{% else %}right{% endif %};">
            {% if data.late_fee_sum %}납부일 확인요{% else %}{{ 0|default:"-"|intcomma }}{% endif %}
        </td>
        <td style="padding: 3px 10px; border:1px solid black; text-align:right;">{{ data.this_pay_sum.amount_total|default:"-"|intcomma }}</td>
    </tr>
</table>

<table style="margin-top: 10px;">
    <tr>
        <td style="font-size: 12px;">■ 납부방법 안내</td>
    </tr>
</table>

<table style="width:100%; font-size:11px; border-collapse:collapse;" cellpadding=0; cellspacing=0;">
    <tr>
        <td style="border:1px solid black; padding: 0;">
            <table style="width:100%; font-size:11px; border-collapse:collapse;" cellpadding=0; cellspacing=0;>
                <tr>
                    <td style="padding: 3px 0px; border:1px solid black; text-align:center;" width="20%;">구 분</td>
                    <td style="padding: 3px 0px; border:1px solid black; text-align:center;" width="20%;">개설은행명</td>
                    <td style="padding: 3px 0px; border:1px solid black; text-align:center;" width="20%;">계 좌 번 호</td>
                    <td style="padding: 3px 0px; border:1px solid black; text-align:center;" width="20%;" colspan="2">예 금 주</td>
                    <td style="padding: 3px 0px; border:1px solid black; text-align:center;" width="20%;">입금하실 금액</td>
                </tr>
                <tr style="background: lightyellow; font-weight: bold'">
                    <td style="padding: 3px 0px; border:1px solid black; text-align:center;">분 양 대 금</td>
                    <td style="padding: 3px 0px; border:1px solid black; text-align:center; ">{{ bill_info.bank_account1 }}</td>
                    <td style="padding: 3px 0px; border:1px solid black; text-align:center; ">{{ bill_info.bank_number1 }}</td>
                    <td style="padding: 3px 0px; border:1px solid black; text-align:center; " colspan="2">{{ bill_info.bank_host1 }}</td>
                    <td style="padding: 3px 10px; border:1px solid black; text-align:right;">{{ data.pay_method.0|default:"-"|intcomma }}</td>
                </tr>
                {% if data.pay_method.1 %}
                    <tr>
                        <td style="padding: 3px 0px; border:1px solid black; text-align:center;">{{ 'PM 용역비' }}</td>
                        <td style="padding: 3px 0px; border:1px solid black; text-align:center; ">{{ bill_info.bank_account2 }}</td>
                        <td style="padding: 3px 0px; border:1px solid black; text-align:center; ">{{ bill_info.bank_number2 }}</td>
                        <td style="padding: 3px 0px; border:1px solid black; text-align:center; " colspan="2">{{ bill_info.bank_host2 }}</td>
                        <td style="padding: 3px 10px; border:1px solid black; text-align:right;">{{ data.pay_method.1|default:"-"|intcomma }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td style="padding: 5px 10px; border:1px solid black;"
                        colspan="{% if data.pay_method.1 %}4{% else %}6{% endif %}">
                        ※ 계좌 입금 시 반드시 계약자명과 상기 {% if data.unit %}동 호수{% else %}계약번호{% endif %}를 병행 표기하여 납부하여 주시기 바랍니다.
                        <br/> &nbsp;&nbsp;&nbsp;
                        예) 홍길동{% if data.unit %}{{ data.contract.keyunit.houseunit }}{% else %}
                        {{ data.contract.serial_number|truncatechars:7 }}{% endif %}
                    </td>

                    {% if data.pay_method.1 %}
                        <td style="padding: 3px 0px; border:1px solid black; text-align:center;">합 계</td>
                        <td style="padding: 3px 10px; border:1px solid black; text-align:right;">{{ data.pay_method.0|add:data.pay_method.1|default:"-"|intcomma }}</td>
                    {% endif %}
                </tr>
            </table>
        </td>
    </tr>
</table>

<table style="margin-top: 10px; width: 100%">
    <tr>
        <td style="font-size: 12px;">■ 납부약정 및 납입내역</td>
        <td style="font-size: 11px; text-align: right;">[{{ issue_date|date:"Y-m-d" }} 현재]</td>
    </tr>
</table>

<table style="width:100%; font-size:11px; border-collapse:collapse;" cellpadding=0; cellspacing=0;>
    <tr>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; width: 12%;" rowspan="3">구 분</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; width: 24%;" colspan="2">약 정 사 항</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; width: 58%;" colspan="5">수 납 사 항</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; width: 6%;" rowspan="3">비고</td>
    </tr>
    <tr>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; width: 12%;" rowspan="2">납부기한</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; width: 12%;" rowspan="2">금 액</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; width: 24%;" colspan="2">실 수납금액</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; width: 20%;" colspan="3">선납연체(할인가산)</td>
    </tr>
    <tr>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; width: 12%;">일자</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; width: 12%;">금액</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; width: 12%;">적용 금액</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; width: 8%;">일수</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center; width: 14%;">할인(-)/가산금</td>
    </tr>
    <tr>
        <td colspan="9" style="padding-bottom: 5px; border-left: solid 1px; border-right: solid 1px;"></td>
    </tr>

    {% for paid_order in data.due_orders %}
        <tr>
            <td style="text-align:center; border-left: solid 1px;">{{ paid_order.order }}</td>
            <td style="text-align:center;">{{ paid_order.due_date|date:"Y-m-d" }}</td>
            <td style="text-align:right;">{{ paid_order.amount|intcomma }}</td>
            <td style="text-align:center; padding-right:1px;">{{ paid_order.paid_date|date:"Y-m-d" }}</td>
            <td style="text-align:right;">{{ paid_order.paid_amt|default:"-"|intcomma }}</td>

            <td style="padding-right:5px; text-align:right;">{{ paid_order.unpaid_amt|default:paid_order.delayed_amt|default:"-"|intcomma }}</td>
            <td style="text-align:right;">{{ paid_order.unpaid_days|default:paid_order.delayed_days|default:"-"|intcomma }}</td>
            <td style="text-align:right;">{{ paid_order.unpaid_result.0|add:paid_order.delayed_result.0|default:"-"|intcomma }}</td>
            <td style="font-size: 9px; text-align: center; border-right: solid 1px">
                {% if paid_order.unpaid_result.0|add:paid_order.delayed_result.0 %}
                {{ paid_order.unpaid_result.1|default:paid_order.delayed_result.1|default:"" }}
                {% endif %}{{ paid_order.note }}
            </td>
        </tr>
    {% endfor %}

    {% for i in data.blank_line %}
        <tr>
            <td style="border-left: solid 1px; border-right: solid 1px;" colspan="9">&nbsp;</td>
        </tr>
    {% endfor %}

    {% for rem_order in data.remain_orders %}
        <tr>
            <td style="text-align:center; border-left: solid 1px;">{{ rem_order.order }}</td>
            <td style="text-align:center;">{{ rem_order.due_date|date:"Y-m-d" }}</td>
            <td style="text-align:right;">{{ rem_order.amount|intcomma }}</td>
            <td style="text-align: center; border-right: solid 1px;" colspan="6">
                {% if forloop.last and data.late_fee_sum %}
                    ※ 지연 납부 시 당일 가산금을 확인(T. {{ bill_info.agency_tel|default:bill_info.host_tel }}) 후 납부하여 주시기 바랍니다.
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    <tr>
        <td colspan="9" style="padding-bottom: 5px; border-left: solid 1px; border-right: solid 1px;"></td>
    </tr>
    <tr>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center;">합 계</td>
        <td style="padding: 3px 5px; border:1px solid black; text-align:{% if data.unit %}right{% else %}center{% endif %};" colspan="2">{{ data.price|intcomma }}</td>
        <td style="padding: 3px 5px; border:1px solid black; text-align:right;" colspan="2">{{ data.paid_sum_total|default:"-"|intcomma }}</td>
        <td style="padding: 3px 5px; border:1px solid black; text-align:right;">{{ 0|default:"-"|intcomma }}</td>
        <td style="padding: 3px 5px; border:1px solid black; text-align:right;">{{ 0|default:"-"|intcomma }}</td>
        <td style="padding: 3px 5px; border:1px solid black; text-align:right; ">{{ data.late_fee_sum|default:"-"|intcomma }}</td>
        <td style="padding: 3px 0px; border:1px solid black; text-align:center;"></td>
    </tr>
</table>

<table style="width:100%; font-size:10px;" cellpadding=0; cellspacing=0;>
    <tr>
        <td colspan="{% if bill_info.agency %}5{% else %}3{% endif %}" style="padding-bottom: 5px;">
            <span style="font-size: 9px;">
                ※ {% if not data.unit %}<u>총 공급가액 및 전체 약정금액은 동호 지정 이후 고지됩니다.</u>{% endif %}
                미 도래 납부회차의 납부기한 및 약정금액은 예정사항이며 추후 변동 시 변경고지될 수 있습니다.</span>
        </td>
    </tr>
    <tr>
        {% if bill_info.agency %}
            <td style="padding: 3px 0 0 5px; font-size: 11px;" width="10%">업무대행사</td>
            <td style="padding: 3px 0px; font-size: 12px; " width="20%">{{ bill_info.agency }}</td>
        {% endif %}
        <td style="padding: 3px 0px; font-size: 12px;" width="10%">문의전화 :</td>
        <td style="padding: 3px 0px; font-size: 12px; " width="15%">{{ bill_info.agency_tel|default:bill_info.host_tel }}</td>
        <td style="padding: 3px 5px; text-align:right; font-size: 13px; " width="45%">
            <strong>{{ bill_info.host_name }}</strong></td>
    </tr>
</table>
