{% extends 'rebs/layouts/base.html' %}

{% block title %}Rebs - Project{% endblock %}

{% block content %}
    {% load widget_tweaks %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        {% include 'rebs/partials/content_title.html' with  second_bs="신규 프로젝트" title="프로젝트 관리" %}
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        {% with menu_order='1' %}
                            {% include 'project/partials/head_menu.html' %}
                        {% endwith %}

                        <div class="row">
                            <div class="col-12">
                                <div class="col-12 border-bottom mb-4">
                                    <h4><i class="dripicons-view-apps"></i> 프로젝트 삭제</h4>
                                </div>

                                <div class="col-12 p-5">
                                    <form method="post">{% csrf_token %}
                                        <div class="offset-2">
                                            <p class="font-16">선택한 다음 게시물을 정말 삭제하시겠습니까? 다음의 오브젝트와 연관 아이템들이 모두 삭제됩니다.</p>
                                            <ul class="p-3">
                                                <li class="text-danger font-18">"{{ object }}"</li>
                                            </ul>
                                            <div class="col-12 mb-5">
                                                <input type="button" class="btn btn-light" onclick="location.href='{% url 'rebs:project:index' %}'"
                                                       value="취소">
                                                <input type="submit" class="btn btn-danger" value="삭제">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- container -->

{% endblock %}
