{% extends 'rebs/layouts/base.html' %}

{% block title %}Rebs - Project{% endblock %}

{% block content %}
    {% load static widget_tweaks %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        {% include 'rebs/partials/content_title.html' with  second_bs="신규 프로젝트" title="프로젝트 관리" %}
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        {% with menu_order='1' %}
                            {% include 'project/partials/head_menu.html' %}
                        {% endwith %}

                        <div class="row">
                            <div class="col-12">
                                <div class="col-12 border-bottom mb-4">
                                    <h4><i class="dripicons-view-apps"></i> 프로젝트 {% if 'update' in request.path %}
                                        수정{% else %}등록{% endif %}</h4>
                                </div>

                                <div class="col-12">
                                    <form method="post" class="form-horizontal needs-validation col-12 col-md-8"
                                          novalidate>
                                        {% csrf_token %}

                                        {% for field in form %}
                                            <div class="row mb-3">

                                                {% if field.field.widget.input_type == 'checkbox' %}
                                                    <div class="form-check">
                                                        {{ field|add_class:"form-check-input" }}
                                                        <label class="form-check-label"
                                                               for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        <div><small class="text-black-50">{{ field.help_text }}</small>
                                                        </div>
                                                        <div class="invalid-feedback">상기 {{ field.label }} 폼을 입력 양식에 맞게 입력(선택)하여
                                                            주십시요.
                                                        </div>
                                                        <div class="text-danger">{{ field.errors }}</div>
                                                    </div>
                                                {% else %}
                                                    <label for="{{ field.id_for_label }}"
                                                           class="col-3 col-form-label">{{ field.label }}</label>
                                                    <div class="col-9">

                                                        {% if field.field.widget.input_type == 'select' %}
                                                            {{ field|add_class:"form-control select2"|attr:"data-toggle:select2" }}
                                                        {% elif 'date' in field.name %}
                                                            {{ field|add_class:"form-control"|attr:"data-provide=datepicker data-date-format=yyyy-mm-dd data-date-autoclose=true data-toggle=input-mask data-mask-format=0000-00-00" }}
                                                        {% elif not field.field.widget.input_type %}
                                                            {{ field|add_class:"form-control"|attr:"rows:5" }}
                                                        {% elif 'zipcode' in field.name %}
                                                            <div class="row">
                                                                <div class="col-5 col-xl-3">
                                                                    {{ field|add_class:"form-control"|attr:"readonly"|attr:"placeholder:우편번호"|attr:"onclick=sample2_execDaumPostcode('id_local_')" }}
                                                                </div>
                                                                <div class="col-5">
                                                                    <button class="btn btn-info" type="button" onclick="sample2_execDaumPostcode('id_local_')">우편번호</button>
                                                                </div>
                                                            </div>
                                                        {% elif 'address1' in field.name %}
                                                            {{ field|add_class:"form-control"|attr:"placeholder:시/군/구 주소"|attr:"onclick=sample2_execDaumPostcode('id_local_')" }}
                                                        {% elif 'address2' in field.name %}
                                                            {{ field|add_class:"form-control"|attr:"placeholder:상세 주소" }}
                                                        {% elif 'address3' in field.name %}
                                                            {{ field|add_class:"form-control"|attr:"placeholder:참고 항목" }}
                                                        {% else %}
                                                            {{ field|add_class:"form-control" }}
                                                        {% endif %}
                                                        <div><small class="text-black-50">{{ field.help_text }}</small>
                                                        </div>
                                                        <div class="invalid-feedback">상기 {{ field.label }} 폼을 입력 양식에 맞게 입력(선택)하여
                                                            주십시요.
                                                        </div>
                                                        <div class="text-danger">{{ field.errors }}</div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                        <div class="justify-content-end row">
                                            <div class="col-9">
                                                <button type="button" class="btn btn-secondary"
                                                        onclick="history.back()">
                                                    취소
                                                </button>
                                                {% if 'update' in request.path %}
                                                    <a href="



                                                            {% if request.user.is_superuser %}{% url 'rebs:project:delete' object.pk %}{% else %}javascript:alert('최고관리자만 삭제할 수 있습니다.'){% endif %}">
                                                        <button type="button" class="btn btn-danger">삭제하기</button>
                                                    </a>
                                                {% endif %}
                                                <button type="submit"
                                                        class="btn btn-{% if 'create' in request.path %}primary{% else %}success{% endif %}">
                                                    {% if 'create' in request.path %}등록{% else %}변경{% endif %}하기
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- container -->

{% endblock %}

{% block third_party_js %}

    <!-- iOS에서는 position:fixed 버그가 있음, 적용하는 사이트에 맞게 position:absolute 등을 이용하여 top,left값 조정 필요 -->
    <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer"
             style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()"
             alt="닫기 버튼">
    </div>

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="{% static 'common/js/daum_post_api.js' %}"></script>

{% endblock %}
