// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles
@import "~@coreui/coreui-pro/scss/coreui";
@import "~@coreui/coreui-pro/scss/themes/dark";

// Import Chart.js Tooltips
@import "~@coreui/chartjs/scss/tooltips";

@import "layout";

// Plugins
@import "calendar";
@import "example";
@import 'mosha-vue-toastify/dist/style';
@import '@vuepic/vue-datepicker/dist/main';

// If you want to add something do it here
@import "custom";

// Transition
@import "transition";
