// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles
@import "ui/scss/themes/dark";
@import "@coreui/coreui/scss/coreui";

// Import Chart.js Tooltips
@import "@coreui/chartjs/scss/tooltips";

@import "layout";

// If you want to add something do it here
@import "custom";

// Transition
@import "transition";

// Plugins
@import "calendar";
@import 'mosha-vue-toastify/dist/style';
@import '@vuepic/vue-datepicker/src/VueDatePicker/style/main.scss';
