<!-- sub_top start -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <small style="position: fixed; top: 73px; left: 20px;">
        <a class="menu_link menu-toggle d-none" id="openNav" onclick="menuToggle('open');"
           style="cursor:pointer;">
            <i class="fa fa-bars"></i>
        </a>
    </small>
    <div class="col-sm-12 col-md-9 breadcrumb-wrap">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'book:subject_index' book.id %}">
                        <ion-icon name="bookmarks" v-pre></ion-icon>
                        {{ object.book.title }}</a>
                </li>
                {% if not request.GET.q %}
                    {% for bc in breadcrumb %}
                        <li class="breadcrumb-item {{ bc.cls1 }}" {{ bc.cls2 }}>
                            {% if bc.cls1 == 'active' %}<a href="{{ bc.url }}">{% endif %}
                            {{ bc.label }}
                            {% if bc.cls1 == 'active' %}</a>{% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ol>
        </nav>
    </div>

    <div class="btn-toolbar col-md-3 ellipsis d-sm-none d-md-block">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>
<hr class="d-none d-sm-none d-md-block">
<!-- sub_top end -->
