{% load humanize mathfilters %}
<div class="ba2">
    <table>
        <tr>
            <td style="width:3%">&nbsp;</td>
            <td style="width:12%"></td>
            <td style="width:70%"></td>
            <td style="width:12%"></td>
            <td style="width:3%"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td rowspan="2" class="center" style="padding: 0; letter-spacing: 1.2em;"><h1>분양대금납부확인서</h1></td>
            {% if is_calc == '1' %}
                <td rowspan="2" class="ba center" style="padding: 0;">직인생략</td>
            {% else %}
                <td class="ba center" style="padding: 0; height: 18px;">납부확인</td>
            {% endif %}

            <td></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            {% if not is_calc %}
                <td class="ba" style="padding: 0; height: 35px;">&nbsp;</td>
            {% endif %}

            <td></td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: right">{{ pub_date }} 현재</td>
        </tr>
    </table>

    <table>
        <tr>
            <td class="title bt2 br2 bb" colspan="4">사업명</td>
            <td class="bt2 bb" colspan="18">{{ contract.project }}</td>
        </tr>
        <tr>
            <td class="title br2 bb" colspan="4">동호수</td>
            <td class="bb" colspan="7">{{ unit }}</td>
            <td class="title bl2 br2 bb" colspan="4">계약일</td>
            <td class="bb" colspan="7">{{ contract.contractor.contract_date }}</td>
        </tr>
        <tr>
            <td class="title br2 bb" colspan="4">계약자</td>
            <td class="bb" colspan="18">{{ contract.contractor }}</td>
        </tr>
        <tr>
            <td class="title br2 bb" colspan="4">공급가</td>
            <td class="bb" colspan="7">{{ price|default:"-"|intcomma }}</td>
            <td class="title bl2 br2 bb" colspan="4">건물가</td>
            <td class="bb" colspan="7">{{ price_build|default:"-"|intcomma }}</td>
        </tr>
        <tr>
            <td class="title br2 bb2" colspan="4">대지가</td>
            <td class="bb2" colspan="7">{{ price_land|default:"-"|intcomma }}</td>
            <td class="title bl2 br2 bb2" colspan="4">부가세</td>
            <td class="bb2" colspan="7">{{ price_tax|default:"-"|intcomma }}</td>
        </tr>
        <tr>
            <td colspan="22">&nbsp;</td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="title center bt2 br bb">구 분</td>
            <td class="title center bt2 br bb">약정금 총액</td>
            <td class="title center bt2 br bb">납부 원금</td>
            <td class="title center bt2 br bb">실입금액 합계</td>
            <td class="title center bt2 br bb">미수금</td>
            <td class="title center bt2 br bb">연체료 합계</td>
            <td class="title center bt2 bb">할인료 합계</td>
        </tr>
        <tr>
            <td class="title center br bb">분양금</td>
            <td class="right br bb">{{ price|default:"-"|intcomma }}</td>
            <td class="right br bb">{{ due_amount|default:"-"|intcomma }}</td>
            <td class="right br bb">{{ paid_sum_total|default:"-"|intcomma }}</td>
            <td class="right br bb">{{ price|sub:paid_sum_total|default:"-"|intcomma }}</td>
            <td class="right br bb">{{ calc_sums.0|default:"-"|intcomma }}</td>
            <td class="right bb">{{ calc_sums.1|default:"-"|intcomma }}</td>
        </tr>
        <tr>
          <td class="title center br bb2">추가납부</td>
          <td class="right br bb2">-</td>
          <td class="right br bb2">-</td>
          <td class="right br bb2">-</td>
          <td class="right br bb2">-</td>
          <td class="right br bb2">-</td>
          <td class="right bb2">-</td>
        </tr>
        <tr>
            <td colspan="7">&nbsp;</td>
        </tr>
    </table>
    <div style="clear: both; display: block;">
        <div style="width: 26%; float: left;">
            <table style="font-size: 10px;">
                <tr>
                    <td class="title center bt2 br">차수</td>
                    <td class="title center bt2 br">약정일자</td>
                    <td class="title center bt2 br2">약정금액</td>
                </tr>
                {% for order in simple_orders %}
                    <tr>
                        <td class="bt br center {% if forloop.last %}bb2{% endif %}">{{ order.name }}</td>
                        <td class="bt br center {% if forloop.last %}bb2{% endif %}">{{ order.due_date|default:""|date:"Y/m/d" }}</td>
                        <td class="bt br2 right {% if forloop.last %}bb2{% endif %}">{{ order.amount|default:"-"|intcomma }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div style="float: left; padding-left: 6px; width: 73%;">
            <table style="font-size: 10px;">
                <tr>
                    <td class="title center bl2 bt2 br">납부일자</td>
                    <td class="title center bt2 br">실입금액</td>
                    <td class="title center bt2 br">완납차수</td>
                    <td class="title center bt2 br">미(과)납액</td>
                    <td class="title center bt2 br">일수</td>
                    <td class="title center bt2 br">연체료</td>
                    <td class="title center bt2">할인료</td>
                </tr>
                {% for p in paid_dicts %}
                    <tr>
                        <td class="center bl2 br bt {% if forloop.last %}bb2{% else %}bb{% endif %}">{{ p.paid.deal_date|date:"Y-m-d" }}</td>
                        <td class="right br bt {% if forloop.last %}bb2{% else %}bb{% endif %}">{{ p.paid.income|default:"-"|intcomma }}</td>
                        <td class="center br bt {% if forloop.last %}bb2{% else %}bb{% endif %}">{{ p.order|default:"" }}</td>
                        <td class="right br bt {% if forloop.last %}bb2{% else %}bb{% endif %}">{{ p.diff|default:"-"|intcomma }}</td>
                        <td class="right br bt {% if forloop.last %}bb2{% else %}bb{% endif %}">{{ p.delay_days|default:"" }}</td>
                        <td class="right br bt {% if forloop.last %}bb2{% else %}bb{% endif %}">{{ p.penalty|default:""|intcomma }}</td>
                        <td class="right bt {% if forloop.last %}bb2{% else %}bb{% endif %}">{{ p.discount|default:""|intcomma }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <table>
        <tr>
            <td colspan="22">&nbsp;</td>
        </tr>
        <tr>
          <td style="padding-left: 20px; font-size: 11px;" colspan="22">※ 요약 납입내역의 분양금에 추가납부가 포함됩니다.
          </td>
        </tr>
        <tr>
            <td style="padding-left: 20px; font-size: 11px;" colspan="22">※ 상기 납입 내역은 결산시점 차이 및 부득이한 전산 장애 등으로 인하여 정확하지
                않을 수 있습니다.
            </td>
        </tr>
        <tr>
            <td colspan="22">&nbsp;</td>
        </tr>
    </table>
</div>
