{% extends 'layouts/registration-2.html' %}

{% block title %}Log In | REBS{% endblock %}

{% block content %}

<!-- title-->
<h4 class="mt-3">로그인</h4>
<p class="text-muted mb-4">Enter your ID and password to access account.</p>

{% include 'registration/login-form.html' %}

<!-- Footer-->
<footer class="footer footer-alt">
    <p class="text-muted">Don't have an account?
        <a href="{% url 'register' %}" class="text-muted ml-1"><b class="text-primary">회원가입</b></a>
    </p>
</footer>

{% endblock %}
