{% extends 'layouts/registration-2.html' %}

{% block content %}
<form action="registration" id="loginForm" method="post" class="needs-validation" novalidate>
    {% csrf_token %}

    <!-- title-->
    <h4 class="mt-0">비밀번호 초기화</h4>
    <p0 class="text-muted mb-4">비밀번호를 잊어버렸나요? 이메일 주소를 아래에 입력하시면 새로운 비밀번호를 설정하는 절차를 이메일로 보내드리겠습니다.</p0>

    {% for f in form %}
    <div class="form-group">
        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
               name="{{ field.name }}" placeholder="{{ field.label }}">
    </div>
    {% endfor %}
    <button class="btn btn-primary">Password Reset</button>

</form>
{% endblock %}
